[submodule "libraries\\ExtendedFlashpunk"]
	path = libraries/ExtendedFlashpunk
	url = git@github.com:DrSkipper/ExtendedFlashpunk.git
[submodule "libraries/ExtendedHaxePunk"]
	path = libraries/ExtendedHaxePunk
	url = https://github.com/jpfarmer/ExtendedHaxePunk.git
