# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

# Obj folder
#NOTE - Fletcher - Is it ok to ignore this?
obj/

# According to GitHub:
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
